In [9]:
import pandas as pd
import matplotlib.pyplot as plt 
import datetime

In [17]:
df = pd.read_csv('monitoramento_tempo.csv')

In [18]:
df.head()

,temperatura,pressão,humidade,direção do vento,velocidade do vento,dia_da_semana,data
0,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 12:00:00
1,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 13:00:00
2,282.083252,1024.0,80.0,4.0,0.0,Domingo,2012-10-01 14:00:00
3,282.091866,1024.0,80.0,18.0,0.0,Domingo,2012-10-01 15:00:00
4,282.100481,1024.0,80.0,31.0,0.0,Domingo,2012-10-01 16:00:00

In [20]:
df['humidade'] = pd.to_datetime(df['humidade'])

In [14]:
df.describe()

,temperatura,pressão,humidade,direção do vento,velocidade do vento
count,45253.000000,45253.000000,45253.000000,45253.000000,45253.000000
mean,284.992865,1019.268292,74.671602,189.895874,2.050693
std,7.452368,9.942751,19.057901,102.876497,1.840820
min,262.370000,968.000000,10.000000,0.000000,0.000000
25%,279.850000,1014.000000,63.000000,107.000000,1.000000
50%,284.320000,1019.000000,80.000000,198.000000,1.000000
75%,289.450000,1025.000000,90.000000,289.000000,3.000000
max,312.520000,1056.000000,100.000000,360.000000,17.000000

In [23]:
plt.plot(df['humidade'], df['data'])
plt.title("Umidade x Ano", fontsize = 15)    # titulo do gráfico
plt.xlabel("Ano")   # titulo do eixo x
plt.ylabel("Umidade")   # titulo do eixo y
#plt.legend("Temperatura", loc='upper left')  # coloca legenda no gráfico

Text(0, 0.5, 'Umidade')